<!--The content below is only a placeholder and can be replaced.-->
<header>
  <section role="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
      <img src="{{profile}}" id="logo" alt="Johnathan Tebeau - Profile Picture">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Johnathan M Tebeau <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.github.com/jtebeau"><i class="fab fa-git-square"></i> Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/jtebeau/"><i class="fab fa-linkedin"></i> LinkedIn</a>
        </li>
      </ul>
    </div>
  </nav>
  </section>
</header>
<section class="container" role="document">
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/images/teamwork.jpg" alt="Teamwork">
        <div class="card-body">
          <h5 class="card-title">Professional</h5>
          <p class="card-text">#TeamBuilder / #ProblemSolver / #Motivated / #Passionate / #FrontEndDeveloper</p>
          <a href="https://www.github.com/jtebeau" class="btn btn-primary">See My Code</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/personal.jpg" alt="My Family">
        <div class="card-body">
          <h5 class="card-title">Personal</h5>
          <ul class="card-text">
            <li>Father of Twins (4 Years Old)</li>
            <li>Restaurant Owner</li>
            <li>Enjoy Traveling with Family</li>
            <li>Love to Cook</li>
          </ul>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/images/current.jpg" alt="Teamwork">
        <div class="card-body">
          <h5 class="card-title">Current Projects</h5>
          <p class="card-text">Angular 4 / Angular JS</p>
          <a href="https://www.linkedin.com/in/jtebeau" class="btn btn-primary">Past Projects</a>
        </div>
      </div>
    </div>
    <blockquote class="blockquote text-center">
      <p class="mb-0">The ones that are crazy enough to think that they can change the world, are the ones who do.</p>
      <cite title="Steve Jobs">- Steve Jobs</cite>
    </blockquote>
  </div>
</section>
