body {
  min-height: 100vh;
}
header {
  height: 150px;
}
blockquote {
  margin-top: 100px;
  display: block;
  width: 100%;
  color: #CCC;
  p {
    font-size: 45px;
  }
}
footer {
  padding: 10px;
  margin-bottom: 0;
  background-color: #343a40 !important;
  color:rgba(255,255,255,.5);
  p {
    padding: 0;
    margin: 0;
  }
}
// Small devices (landscape phones, 576px and up)
@media all and (max-width: 600px) {
  header {
    height: 90px;
  }
  .card {
    margin: 30px;
  }
  .card-text {
    padding: 10px;
  }
}
